.idea/
# BitFun snapshot data - auto managed
.bitfun/

.vscode/

api/__pycache__/
api/models/__pycache__/
api/routers/__pycache__/
api/services/__pycache__/
core/__pycache__/
core/nodes/__pycache__/
core/utils/__pycache__/
examples/__pycache__/
interfaces/__pycache__/
interfaces/simulators/__pycache__/
tests/test_core/__pycache__/
tests/test_interfaces/__pycache__/
tests/test_models/__pycache__/
tests/test_optimization/__pycache__/
challenges/__pycache__/
models/__pycache__/
models/inverse/__pycache__/
models/training/__pycache__/
optimization/__pycache__/
optimization/constraints/__pycache__/